#设置loggers，必须有root，其次设置你的自定义loggers，自定义了1个logger
[loggers]
keys=root,log

#设置你自定义的handlers，自定义了1个handler
[handlers]
keys=hand1, hand2

#设置你自定义的日志格式，自定义了1个formatter
[formatters]
keys=form1

#配置每个logger的信息，logger的配置以[logger_xxx]进行配置，首先配置root
[logger_root]
level=NOTSET
handlers=hand1

#配置logger中log的信息
[logger_log]
level=INFO
handlers=hand2
propagate=0
qualname=log

#设置hand1的信息(output in log file)
[handler_hand1]
class=handlers.TimedRotatingFileHandler
level=INFO
formatter=form1
args=('all.log',)


#设置hand2的信息(output in console)
[handler_hand2]
class=StreamHandler
level=INFO
formatter=form1
args=(sys.stdout,)

#设置日志的格式，以[formatter_xxx]开始进行设置，先设置form1的格式
[formatter_form1]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(process)d  %(levelname)s %(message)s
datefmt=%a,%d %b %Y %H:%M:%S
